@model CoreMvcPortfolioProject.DAL.Entities.Admin
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="main-panel">
	<div class="content">
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Change Password</div>
					</div>
					<div class="card-body">
						<form method="post">


							<label>Current Password</label>
							<br />
							<input type="password" asp-for="CurrentPassword" class="form-control" required />
							<br />
							<label>New Password</label>
							<br />
							<input type="password" asp-for="NewPassword" class="form-control" required />
							<br />
							<label>Confirm Password</label>
							<br />
							<input type="password" asp-for="ConfirmPassword" class="form-control" required />
							<br />
							<p>
								@Html.ValidationSummary(excludePropertyErrors: true)
							</p>

							<br />
							<button class="btn btn-success btn-sm" style="font-size: 12px"> Update Password</button>
					
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

