<div class="col-four tab-full contact__infos">
	<h4 class="h06">Phone</h4>
	<p>
		<a href="tel:@ViewBag.Phone" style="color:rgba(255, 255, 255, 0.5)">@ViewBag.Phone</a>
	</p>

	<h4 class="h06">Email</h4>
	<p>
		<a href="mailto:@ViewBag.Email" style="color:rgba(255, 255, 255, 0.5)">@ViewBag.Email</a>
	</p>

	<h4 class="h06">Address</h4>
	<p>
		@ViewBag.Address
	</p>
</div>