<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Buselog</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/portfolio/css/base.css">
    <link rel="stylesheet" href="/portfolio/css/vendor.css">
    <link rel="stylesheet" href="/portfolio/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/portfolio/js/modernizr.js"></script>
    <script src="/portfolio/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/portfolio/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/portfolio/favicon.ico" type="image/x-icon">

</head>