<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="/portfolio/images/images_me.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Buse Gorcum
						<span class="user-level">Administrator</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/AdminProfile/Index/">
								<span class="link-collapse">My Profile</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item active">
				<a href="/AdminDashboard/Index/">
					<i class="fa-solid fa-chart-line"></i>
					<p>Dashboard</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminFeature/Index/">
					<i class="fa-regular fa-font-awesome"></i>
					<p>Feature</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminAbout/Index/">
					<i class="fa-regular fa-user"></i>
					<p>About</p>	
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminSkill/Index/">
					<i class="fa-regular fa-star"></i>
					<p>Skill</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminExperiences/Index/">
					<i class="fa-regular fa-pen-to-square"></i>
					<p>Experience</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminProject/Index/">
					<i class="fa-regular fa-clipboard"></i>
					<p>Project</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminTestimonial/Index/">
					<i class="fa-regular fa-eye"></i>
					<p>Testimonial</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminContact/Index/">
					<i class="fa-regular fa-address-card"></i>
					<p>Contact</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminMessage/Index/">
					<i class="fa-regular fa-comment"></i>
					<p>Messages</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminSocialMedia/Index/">
					<i class="fa-brands fa-linkedin"></i>
					<p>Social Media</p>
				</a>
			</li>
		</ul>
	</div>
</div>